*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f6fa;
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__header {
  display: flex;
  justify-content: space-between;
  margin: .8rem;
  flex-wrap: wrap;
}
.logo {
  width: 3.5rem;
  margin-right: 1rem;
}
.app__headerLeft{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: auto !important;
}
.app__dropdown{
  margin: auto !important;
}

.app__graph {
  flex-grow: 1;
}

.app__left {
  flex: 0.9;
  margin-top: 1rem;
}
.app__right {
  padding-bottom: 3rem;
  margin-top: 1rem;
}

@media (max-width:864px) {
  .app{
    flex-direction: column;
  }
}

@media (max-width:618px) {
  .app__headline{
    font-size: 20px;
  }
}

@media(max-width:366px) {
  .app__left {
    flex: 1;
  }
  .app__headline{
    font-size: 18px;
  }
  .logo {
    width: 2rem;
  }
}
@media(max-width:310px) {
  .app__headline{
    font-size: 17px;
  }
  .logo {
    width: 1.6rem;
  }
}