*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f6fa;
}
.app {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
}

.app__header {
  display: flex;
  justify-content: space-between;
  margin: .8rem;
}

.app__left {
  flex: 0.9;
}

@media(max-width:366px) {
  .app__left {
    flex: 1;
  }
}